body {
	
	font-family : 'Courier New', monospace;
	font-size : 20px;

}

table {

	border-collapse: collapse;
	max-width: 500px;

}

table, th, td {

	border : 1px solid black;

}

.contenu {

	margin-top : 30px;
	display : flex;
	flex-direction : row;
	justify-content : space-around;
	flex-wrap : wrap;

}